body {
    font-family: Arial;
    width: 1280px;
    margin: 0 auto;
}

header {
    height: 0;
}

main {
    display: block;
}

.product {
    display: block;
    height: 323px;
    background-color: #445162;
}

.product h1 {
    margin-left: 50px;
    padding-top: 50px;
    height: 44px;
    width: 380px;
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.product img {
    width: 469px;
    height: 214px;
    float: right;
    margin-right: 50px;
    margin-top: -40px;
    background-color: white;
}

.product_properties {
    width: 422px;
    height: 127px;
    margin-top: 51px;
    margin-left: 80px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    list-style-image: url(../img/check_icon.png);
}

.about_product {
    height: 345px;
    background-color: white;
}

.about_product h3 {
    padding-top: 50px;
    margin-left: 50px;
    width: 254px;
    height: 28px;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
}

.about_product p {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-left: 50px;
}

.about_product .p1 {
    width: 653px;
    height: 63px;
    margin-top: 30px;
}

.about_product .p2 {
    width: 653px;
    height: 60px;
    margin-top: 20px;
}

.about_product video {
    float: right;
    width: 430px;
    height: 245px;
    margin-right: 50px;
    margin-top: -25px;
    background-color: #445161;
}

.benefits {
    background-color: #f5f5f5;
    height: 416px;
    display: block;
}

.benefits h3 {
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    padding-top: 50px;
    margin-left: 464px;
}

.clms {
    margin-top: 29px;
}

.clms li {
    width: 570px;
    float: left;
    height: 63px;
}

.benefits img {
    float: left;
}

.text {
    float: left;
    margin-left: 41px;
    margin-top: -37px;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    height: 63px;
}

.benefits_col1 li:nth-of-type(2),
.benefits_col2 li:nth-of-type(2) {
    margin-bottom: 35px;
    margin-top: 35px;
}

.benefits_col1 {
    margin-left: 56px;
}

.benefits_col2 li {
    margin-left: 74px;
    height: 63px;
}

.screenshots {
    display: block;
    height: 487px;
}

.screenshots ul:first-of-type li {
    float: left;
    margin-top: 35px;
}

.screenshots ul:last-of-type li {
    float: left;
    margin-top: 30px;
}

.screenshots h3 {
    background-color: white;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    padding-top: 50px;
    margin-left: 571px;
}

.screenshots li:nth-of-type(1) figure {
    width: 574px;
    height: 150px;
    margin-left: 50px;
}

.screenshots li:nth-of-type(2) figure {
    width: 574px;
    height: 150px;
    margin-right: 66px;
}

figure img {
    width: 200px;
    height: 150px;
    background-color: #445161;
    display: block;
    clear: left;
}

.screenshots_row1,
.screenshots_row2 {
    display: block;
    float: right;
    width: 359px;
    margin-top: -155px;
}

.screenshots_row1 h4,
.screenshots_row2 h4 {
    width: 315px;
    height: 23px;
    color: #445161;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.screenshots_row1 p,
.screenshots_row2 p {
    margin-top: 15px;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.screenshots_row1 p {
    width: 359px;
    height: 108px;
}

.screenshots_row2 p {
    width: 349px;
    height: 87px;
}

.reviews {
    background-color: #f5f5f5;
    height: 423px;
}

.reviews h3 {
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    padding-top: 50px;
    margin-left: 585px;
    margin-bottom: 35px;
}

.reviews figure {
    width: 574px;
    height: 121px;
}

.reviews img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #445161;
}

.reviews figcaption {
    margin-top: -75px;
    float: right;
    width: 483px;
    height: 121px;
    background-image: url(../img/bg%20review.png);
}

.reviews p {
    margin-left: 27px;
}

.message {
    width: 436px;
    height: 64px;
    margin-top: 16px;
    color: #333333;
    font-size: 14px;
    font-style: italic;
    line-height: 18px;
    text-align: left;
}

.author {
    width: 70px;
    height: 10px;
    margin-top: 15px;
    color: #989898;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

.review1,
.review2 {
    float: left;
    margin-bottom: 24px;
}

.review3,
.review4 {
    float: left;
}

.review1,
.review3 {
    margin-left: 50px;
    margin-right: 32px;
}

.buy_menu {
    height: 656px;
    background-color: white;
}

.buy_menu h3 {
    padding-top: 50px;
    margin-left: 572px;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
}

.low {
    width: 300px;
    height: 306px;
    background-color: #425062;
    border-radius: 5px;
    margin-left: 145px;
    margin-top: 222px;
}

.medium {
    width: 300px;
    height: 404px;
    background-color: #425062;
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 124px;
    border-radius: 5px;
}

.high {
    width: 300px;
    height: 499px;
    margin-top: 29px;
    background-color: #425062;
    border-radius: 5px;
}

.low,
.medium,
.high {
    float: left;
}

.buy_menu h4 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.low h4 {
    margin-left: 105px;
    margin-top: 16px;
    width: 90px;
    height: 18px;
}

.medium h4 {
    margin-left: 103px;
    margin-top: 17px;
    width: 94px;
    height: 17px;
}

.high h4 {
    margin-left: 131px;
    margin-top: 17px;
    width: 38px;
    height: 17px;
}

.price {
    width: 296px;
    height: 71px;
    margin-left: 2px;
    margin-top: 22px;
    margin-bottom: 19px;
    background-color: white;
}

.price p {
    margin-left: 107px;
    padding-top: 18px;
    color: #445162;
    font-size: 40px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.buy_menu button {
    border-radius: 5px;
    background-color: #ffffff;
    width: 260px;
    height: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.low ol li,
.medium ol li,
.high ol li {
    margin-left: 40px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    list-style-type: decimal;
}

.buy {
    color: #445161;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
}

.low button {
    margin-top: 10px;
}

.medium button {
    margin-top: 12px;
}

.high button {
    margin-top: 12px;
}

.contacts {
    height: 509px;
    background-color: #445162;
}

.contacts h3 {
    width: 118px;
    height: 22px;
    padding-top: 53px;
    margin-left: 582px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
}

form {
    margin-top: 31px;
    margin-left: 249px;
    margin-right: 46px;
}

input {
    display: block;
}

input[type="text"] {
    width: 500px;
    height: 40px;
    border-radius: 5px;
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

input[type="email"] {
    width: 500px;
    height: 40px;
    border-radius: 5px;
    margin-top: 21px;
    margin-bottom: 22px;
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

textarea {
    font-family: Arial;
    width: 500px;
    height: 170px;
    border-radius: 5px;
    margin-bottom: 21px;
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

input[type="submit"] {
    width: 140px;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    margin-left: 180px;
    color: #445162;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
}

.info {
    float: left;
    padding-left: 795px;
    margin-top: -372px;
}

.info li {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.info li:nth-of-type(-n+3) {
    margin-bottom: 29px;
}

.info img {
    margin-right: 4px;
}

.socials {
    padding-left: 794px;
    margin-top: -150px;
}

.socials li {
    float: left;
    font-family: Socialico;
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.socials li:nth-of-type(-n+4) {
    margin-right: 5px;
}

.copyright {
    background-color: #f5f5f5;
    color: #445162;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 24px;
    text-align: center;
    height: 30px;
}